################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FloGen/bin/Debug/netcoreapp3.1
/FloGen/.vs/FloGen/v16
/FloGen/obj
/FloGen/bin/Release/netcoreapp3.1
/FloGen/.vs/FloGen/DesignTimeBuild
