################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FloGen/bin
/FloGen/.vs
/FloGen/obj
/FloGen/*.user
